# Abaikan semua folder node_modules di seluruh proyek
**/node_modules

# Abaikan semua file .env yang berisi kredensial
**/.env

# File log dan build dari frontend/backend
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
/esi-platform-frontend/build
